.form {
  width: 50%;
  background-color: white;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  padding: 25px;
  border: 1px solid rgb(238, 215, 215);
  border-radius: 8px;
}

.form:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.name_div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.address_div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.submit_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.submit_btn button {
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: rgb(5, 160, 5);
  color: white;
  cursor: pointer;
}

.submit_btn button:hover {
  background-color: rgb(12, 142, 12);
}


input {
  width: 100%;
  height: 25px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 8px;
  resize: none;
}

label {
  font-weight: bold;
  color: rgb(38, 36, 36);
}

.view_list{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: rgb(160, 72, 5);
    color: white;
    cursor: pointer;
}

.list_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}